layout {
    pane split_direction="horizontal" {
        pane {
            command "just"
            args "tailscale"
        }
        pane {
            command "just"
            args "tailscale"
        }
    }
}